// bower:scss
// endbower

* { box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

// Variables
$slate: #231f20;
$granite: #1e191a;

$cubic: cubic-bezier(.09,.76,.29,1);

$vertical: 120px;
$oslo: 'Oslo Design Fair Beta 0.5', Helvetica, Arial, sans-serif;

// General
body { color: $slate; font-family: $oslo; }
li { list-style-type: none; }
a { text-decoration: none; }
::selection { background: black; color: white; outline: none; }
::-webkit-selection { background: black; color: white; outline: none; }
::-webkit-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }

.wrap { 
  width: 100%; 
  overflow: auto; 
  position: relative;
  z-index: 1;
}

section {
  display: block;
  width: 100%;
  overflow: auto;
  padding: $vertical 0 0 0;
}

section div, footer div { float: left; }

.grid {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 5%;
  pointer-events: none;
  opacity: 0;
  transition: all ease .2s;
  .col {
    float: left;
    width: calc(100% / 6 - 50px);
    height: 100%;
    margin-right: 60px;
    background: red;
    opacity: .05;
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  &.active {
    opacity: 1;
  } 
}

.cookiemonster {
  position: fixed;
  display: block;
  width: 100%;
  height: 70px;
  bottom: 0px;
  left: 0px;
  background: $slate;
  color: white;
  padding: 23px 0px;
  transition: all ease .15s;
  z-index: 9999;
  p {
    color: white;
    float: left;
    width: 80%;
  }
  a {
    color: white;
    position: relative;
    &:hover:after {
      opacity: 0;
    }
  }
  a:not(.close):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -3px;
    transition: all ease .15s;
  }
  .close {
    text-align: center;
    float: right;
    width: 30px;
    color: white;
    transition: all ease .15s;
    cursor: pointer;
    transition: all ease .2s;
    &:hover {
      transform: scale(1.5) translateZ(0px);
    }
  }
  &:hover {
    height: 80px;
    padding: 28px 0px;
    .close {
      // top: 28px;
    }
  }
  &.hide {
    bottom: -80px;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 8888;
  background: rgba(255,255,255,.97);
  padding: 25px 0 17px 0;
  transition: all ease .2s;
  &.hidden {
    transform: translateY(-100%);
    background: rgba(255,255,255,.9);
    
    cursor: pointer;
    &:hover {
      top: -55px;
      background: rgba(255,255,255,.9);
    }
  }

  .logo {
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -2.5px;
  }

  .burger {
    position: absolute;
    display: block;
    right: 5%;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    overflow: hidden;
    z-index: 9999;
    transition: all ease .2s;
    cursor: pointer;
    span {
      display: block;
      float: left;
      width: 100%;
      height: 6px;
      margin-bottom: 6px;
      background: $slate;
      transition: all ease .2s;
    }
    &:hover {
      padding-top: 4px;
      span {
        margin-bottom: 2px;
      }
    }
  }

}



.menu {
  position: fixed;
  background: $granite;
  right: 0px;
  top: 0px;
  padding: $vertical / 2.5 $vertical / 2;
  opacity: 1;
  z-index: 9000;
  width: calc(100% / 3 + 46px);
  color: white;
  transform: translateX(100%);
  transition: all ease .6s;
  &.open {
    transform: translateX(0%);
  }
  .lang {
    margin-bottom: 20px;
    li {
      display: inline-block;
      opacity: .1;
      margin-left: 10px;
      transition: all .2s ease .1s;
    }
    .loadin {
      margin-left: 0px;
      opacity: 1;
    }
    a {
      color: white;
      position: relative;
      margin-right: 10px;
    }
    .active:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      left: 0px;
      bottom:-3px;
    }
  }

  .nav {
    li {
      overflow: hidden;
      margin-left: 50px;
      transition: all .2s ease .1s;
      opacity: 0;
    }
    .loadin {
      margin-left: 0px;
      opacity: 1;
    }
    a {
      color: white;
      position: relative;
      font: 500 30px/43px $oslo;
      margin-left: -25px;
      transition: all ease .2s;
    }
    a:before {
      content: "\2192";
      padding-right: 5px;
    }
    a:hover, .active {
      margin-left: 0px;
      opacity: 1;
    }
    
  }

  .close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: $vertical / 2.5;
    right: $vertical / 2;
    transform: rotate(0deg);
    transition: all $cubic .6s;
    margin-left: 50px;
    opacity: 0;
    cursor: pointer;
    &.loadin {
      margin-left: 0px;
      opacity: 1;
    }
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 8px;
      top: 17px;
      margin-bottom: 6px;
      background: white;
      transition: all $cubic .6s;
      &:last-child {
        transform: rotate(180deg);
      }
    }
    
    &.active {
      transform: rotate(45deg);
      span:last-child {
        transform: rotate(90deg);
      }
    }

    &:hover {
        transform: rotate(0deg);
        span:last-child {
          transform: rotate(180deg);
        }
    }
  }

}


// Grid
.fluid {
  width: 100%;
  float: left;
  line-height: 0;
  // background: #999;  
}

.full {
  width: 100%;
  padding: 0 5%;
}

.half {
  width: calc(50% - 30px);
  margin-right: 60px;
  line-height: 0;
  //background: rgba(255,0,0,.1);
  overflow: hidden;
  .full {
    padding: 0;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.third {
  width: calc(100% / 3 - 40px);
  margin-right: 60px;
  //background: rgba(255,255,0,.1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.sixth {
  width: calc(100% / 6);
}

// .twothirds {
//   width: calc(100% / 3 * 2);
//   // margin-right: 60px;
//   //background: rgba(255,255,0,.1);
// }

.flush {
  margin: 0;
}

.full, .fluid, .half, .third {
  img {
    display: inline-block;
    // max-width: 100%;
    width: 100%;
  }
}


// Section specific code

.intro {
  height: 900px;
  height: 100vh;
  background: #f2f2f2 center center no-repeat;
  background-size: cover;
  padding-top: $vertical / 1.5;
  position: relative;
  overflow: hidden;
  .logo {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 33px;
    line-height: 28px;
    letter-spacing: -2.5px;
    color: white;
  }
  .details {
    font: 500 22px/26px $oslo;
    color: white;
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    color: white;
    padding: 10% 16%;
    h1 {
      padding-bottom: $vertical / 4;
    }
    a.more {
      color: white;
    }
  }

  .burger {
    position: absolute;
    display: block;
    right: 5%;
    width: 32px;
    height: 32px;
    opacity: 1;
    overflow: hidden;
    z-index: 9999;
    transition: all ease .2s;
    cursor: pointer;
    span {
      display: block;
      float: left;
      width: 100%;
      height: 6px;
      margin-bottom: 6px;
      background: white;
      transition: all ease .2s;
    }
    &:hover {
      padding-top: 4px;
      span {
        margin-bottom: 2px;
      }
    }
  }

}

.about {
  .text {
    margin-bottom: $vertical;
  }
  .images {
    .half {
      margin-bottom: $vertical / 2;
    }
  }
}

.news {
  .full {
    margin-bottom: $vertical;
  }
  .profile {
    background: $slate;
    color: white;
    margin-bottom: $vertical / 2;
    .info {
      padding: 35px 40% 40px 40px;
    }
    p {
      color: white;
      padding-bottom: $vertical / 3;
      height: 96px;
    }
    span {
      position: relative;
      color: white;
    }
    img {
      transition: all .2s ease .15s;
    }
    &:last-child, &:nth-last-child(2) {
      margin-bottom: 0;
    }
    a {
      display: block;
      &:hover {
        img {
          opacity: .9;
        }
        .more:after {
          opacity: 0.1;
        }
      }
    }
  }
  .more {
    &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -3px;
    transition: all ease .15s;
    }
  }
}

.areas, .contact {
  background: $slate;
  color: white;
  .info {
    padding: 30px 35px 35px 35px;
    line-height: 0;
  }
  p {
    padding-bottom: $vertical / 4;
    height:86px;
  }
  img {
    transition: all .2s ease .2s;
    line-height: 0;
  }
  a {
    line-height: 0;
    display: block;
    position: relative;
    &:hover {
      img {
        opacity: .9;
      }
      .more:after {
        opacity: 0.1;
      }
    }
  }
  span.more {
    position: relative;
    transition: all ease .15s;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $slate;
      left: 0;
      bottom: -3px;
      transition: all ease .15s;
    }
  }  
}

.areas {
  .third {
    background: white;
    color: $slate;
  }
  .full {
    margin-bottom: $vertical;
  }
}

.exhibitor {
  .full {
    margin-bottom: $vertical;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .exhibit {
    overflow: hidden;
    background: $slate;
    position:relative;
    .info {
      background: $slate;
      float: left;
      width: 50%;
      color: white;
      padding: 60px 15% 60px 60px;
      
      h3 {
        font-weight: 500;
      }
      .become {
        position: absolute;
        bottom: 50px;
        color: white;
        border: 2px solid white;
        padding: 30px 50px 27px;
      }
    }
    .image {
      float: left;
      width: 50%;
      line-height: 0;
    }
    
  }
}

.team {
  .full {
    margin-bottom: $vertical;
    &:last-child {
      margin-bottom: $vertical / 3;
    }
  }
  .fluid {
    margin-bottom: $vertical;
    line-height: 0;
  }

  .info {
    width: 60%;
  }
  .image {
    text-align: right;
    width: 40%;
    padding-left: 20px;
    height: 100%;
  }
  .full .third {
    margin-bottom: $vertical / 1.5;
  }
}

.contact {
  height: inherit;
  overflow: hidden;
  & > .full {
    margin-bottom: $vertical;
  }
  p {
    color: white;
  }
  .half .full {
    margin: $vertical / 2 0 0 0;
  }
  .fluid {
    line-height: 0;
    img {
      display: inline-block;
    }
  }
  input[type="text"]{
    display: block;
    float: left;
    background: none;
    outline: none;
    border: 2px solid #fff;
    padding: 22px 20px 20px 23px;
    color: white;
    width: calc(100% / 3 * 2 + 40px);
  }
  input[type="submit"]{
    display: block;
    float: right;
    background: none;
    outline: none;
    border: 2px solid #fff;
    border-left: 0;
    padding: 22px 20px 20px 23px;
    color: white;
    width: calc(100% / 3 - 40px);
    
  }
}

footer {
  .full {
    margin: $vertical / 2 0;
  }
}




// Typography

//    Heading
h1, h2 {
  font: 700 50px/60px $oslo;
}

//    Subhead
h3, h4, h5  {
  font: 700 30px/40px $oslo;
}

//    Content
p, a  {
  font: 20px/28px $oslo;
  margin-bottom: 28px;
  color: $slate;
  &:last-child {
    margin-bottom: 0;
  }
}

input, ul, li {
  font: 20px/28px $oslo;  
}
