
		<section class="intro inverse">
          <div class="full">
            <div class="sixth hold">
              <a href="#" class="logo">Oslo<br/>Design<br/>Fair</a>
            </div>
            <div class="sixth hold">
              <!-- <p class="details">28.01<span>&rarr;</span>31.01,<br/>2016. Norges<br/>Varemesse.</p> -->
            </div>
            <div class="burger hold">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

        </section>

        <section class="article">
          <div class="full hold">
          	<div class="title">
	            <h1>Intervju med Kreativ leder Andreas Engesvik</h1>
	            <span class="date">20.08.2015</span>
          	</div>
          </div>

          <div class="full hold">

            <picture>
              <source media="(max-width: 480px)"
              srcset="http://placehold.it/480x480/f2f2f2 1x, http://placehold.it/900x900/ffeeee 2x">
              <source media="(max-width: 900px)"
              srcset="http://placehold.it/900x900/f2f2f2">
              <source media="(max-width: 1200px)"
              srcset="http://placehold.it/1400x800/f2f2f2">
              <img src="http://placehold.it/1400x800/f2f2f2"
              alt="Some image">
            </picture>

          </div>

          <div class="full hold anim">
          	<div class="text">
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste obcaecati quasi sunt, neque sapiente, accusantium odit expedita, distinctio dignissimos nulla vel. Nesciunt neque expedita beatae. Iure quas recusandae delectus, autem molestiae optio nemo culpa voluptatum similique commodi dolorem alias reprehenderit obcaecati error libero quasi quo tempore neque accusantium laborum deleniti.</p>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, reprehenderit!</p>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis voluptatum nobis voluptas? Minima delectus aperiam doloremque iusto molestias porro in atque, beatae provident, ducimus enim, aspernatur ipsam veritatis id!</p>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum saepe, ullam voluptatem, minima ipsam maiores.</p>
          	</div>
          </div>
          <div class="full hold anim">
            <picture>
              <source media="(max-width: 480px)"
              srcset="http://placehold.it/480x480/f2f2f2 1x, http://placehold.it/900x900/ffeeee 2x">
              <source media="(max-width: 900px)"
              srcset="http://placehold.it/900x900/f2f2f2">
              <source media="(max-width: 1200px)"
              srcset="http://placehold.it/1400x800/f2f2f2">
              <img src="http://placehold.it/1400x800/f2f2f2"
              alt="Some image">
            </picture>
          </div>

          <div class="full hold anim">
          	<div class="text">
          		<h3>Norges viktigste plattform</h3>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste obcaecati quasi sunt, neque sapiente, accusantium odit expedita, distinctio dignissimos nulla vel. Nesciunt neque expedita beatae. Iure quas recusandae delectus, autem molestiae optio nemo culpa voluptatum similique commodi dolorem alias reprehenderit obcaecati error libero quasi quo tempore neque accusantium laborum deleniti.</p>
          		
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum saepe, ullam voluptatem, minima ipsam maiores.</p>
          		<a href="#" class="front"><span>&larr;</span> Til Forsiden</a>
          	</div>
          </div>

        </section>