        <footer>
          <div class="full">
            <div class="third">
              <p>Oslo design fair<br/>
              2015 &copy;</p>
            </div>

            <div class="third">
              <ul>
                <li>Design: <a href="http://bielkeyang.no/" target="_blank">Bielke&amp;Yang</a></li>
                <li>Kode: <a href="http://workbypost.com" target="_blank">Post</a></li>
              </ul>
            </div>

            <div class="third">
              <a href="#" class="totop">
                <span>&uarr;</span>
              </a>
            </div>
          </div>
        </footer>